html
  head
    title= title

    link(rel='stylesheet', href='/static/styles.css')

  body
      h1= message

      div(
        id= "app"
      )

  script(type='text/javascript', src='/static/app.js')